---
import routes from 'astro-feedback:routes';
import RedirectButton from '../components/RedirectButton.astro';
import AdminTools from '../components/dashboard/index/AdminTools.astro';
import MatchedProjects from '../components/dashboard/index/MatchedProjects.astro';
import MatchedTeams from '../components/dashboard/index/MatchedTeams.astro';
import UserSubmissionsCard from '../components/dashboard/index/UserSubmissionsCard.astro';
import Heading from '../components/headings/Heading.astro';
import GetIcon from '../components/icons/GetIcon.astro';
import DashboardLayout from '../layouts/DashboardLayout.astro';
import { getUserMetadata } from '../lib/GetMeta';
import { validateUser } from '../lib/validateUser';

export const prerender = false;

const userMetaData = await getUserMetadata(Astro);

const v = await validateUser(Astro);
if (v) return v;
---

<DashboardLayout sideBarActiveItemID="dashboard">
        
    <div class="flex flex-col w-full">
        <Heading tag={'h1'}><span id="ui-dashboard-index-title">Dashboard</span></Heading>
    </div>

    <div class="divider my-4"></div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 w-full grid-flow-row-dense">

        <div class="col-span-1 md:col-span-2">
            <div class="flex flex-col items-center rounded-lg bg-base-300 gap-2 p-4 h-full">
                <span id="ui-dashboard-index-submission" class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                    Your Submissions
                </span>

                <div class="divider my-0"></div>

                <UserSubmissionsCard userSubmissions={userMetaData.allUserSubmissions}>
                    <div class="flex flex-col items-center">
                        <span id="ui-dashboard-index-submission-notfound" class="text-lg font-bold text-accent">No Submissions found.</span>
                        <span id="ui-dashboard-index-submission-notfound-description" class="text-sm">You have no submissions at this time.</span>
                    </div>
                </UserSubmissionsCard>
            </div>
        </div>

        <MatchedProjects matchedProjects={userMetaData.matchedProjects}>
            <span class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                <span id="ui-dashboard-index-projects">Your Projects</span>
                <RedirectButton
                    link={routes.portal.projects.index}
                    class="btn btn-sm btn-ghost text-secondary shadow-md lg:hidden">
                    <GetIcon icon={'link'} class='h-[1rem] w-[1rem]'/>
                </RedirectButton>
            </span>
        </MatchedProjects>

        <MatchedTeams matchedTeams={userMetaData.matchedTeams}>
            <span class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                <span id="ui-dashboard-index-teams">Your Teams</span>
                <RedirectButton
                    link={routes.portal.teams.index}
                    class="btn btn-sm btn-ghost text-secondary shadow-md lg:hidden">
                    <GetIcon icon={'link'} class='h-[1rem] w-[1rem]'/>
                </RedirectButton>
            </span>
        </MatchedTeams>

        <AdminTools isAdmin={userMetaData.isAdmin}>
            <span id="ui-dashboard-index-admin-tools" class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                Administration Tools
            </span>
        </AdminTools>

        <!-- <button id="testttttt">Test</button> -->

    </div>

</DashboardLayout>

<script>
import { $i18n, /*$localeSettings,*/ updateUiString } from "../store/i18n.ts";
import enJson from '../store/translations/en.json';

    // document.getElementById('testttttt')!.addEventListener('click', () => {
    //     $localeSettings.set('en');
    // });
    // console.log('$localeSettings', $localeSettings.get());


    const i18n = $i18n('dashboard/index', enJson['dashboard/index']);

    i18n.subscribe(t => {
        updateUiString({
            element: 'ui-dashboard-index-title', 
            translation: t['title']
        })
        updateUiString({
            element: 'ui-dashboard-index-submission', 
            translation: t['submission']
        })
        updateUiString({
            element: 'ui-dashboard-index-projects', 
            translation: t['projects']
        })
        updateUiString({
            element: 'ui-dashboard-index-teams', 
            translation: t['teams']
        })
        updateUiString({
            element: 'ui-dashboard-index-admin-tools', 
            translation: t['admin-tools']
        })
        updateUiString({
            element: 'ui-dashboard-index-submission-notfound', 
            translation: t['submission-notfound']
        })
        updateUiString({
            element: 'ui-dashboard-index-submission-notfound-description', 
            translation: t['submission-notfound-description']
        })
    });
</script>