---
import routes from 'astro-feedback:routes';
import RedirectButton from '../components/RedirectButton.astro';
import AdminTools from '../components/dashboard/index/AdminTools.astro';
import MatchedProjects from '../components/dashboard/index/MatchedProjects.astro';
import MatchedTeams from '../components/dashboard/index/MatchedTeams.astro';
import UserSubmissionsCard from '../components/dashboard/index/UserSubmissionsCard.astro';
import Heading from '../components/headings/Heading.astro';
import GetIcon from '../components/icons/GetIcon.astro';
import { getLangFromUrl, useTranslations } from '../i18n';
import DashboardLayout from '../layouts/DashboardLayout.astro';
import { getUserMetadata } from '../lib/GetMeta';
import { validateUser } from '../lib/validateUser';

export const prerender = false;

const userMetaData = await getUserMetadata(Astro);

const v = await validateUser(Astro);
if (v) return v;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'dashboard/index');
---

<DashboardLayout sideBarActiveItemID="dashboard" lang={lang}>
        
    <div class="flex flex-col w-full">
        <Heading tag={'h1'}>{t('title')}</Heading>
    </div>

    <div class="divider my-4"></div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 w-full grid-flow-row-dense">

        <div class="col-span-1 md:col-span-2 dashboard-card">
            <div class="flex flex-col items-center rounded-lg bg-base-300 gap-2 p-4 h-full">
                <span id="ui-dashboard-index-submission" class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                    {t('submission')}
                </span>

                <div class="divider my-0"></div>

                <UserSubmissionsCard userSubmissions={userMetaData.allUserSubmissions}>
                    <div class="flex flex-col items-center">
                        <span id="ui-dashboard-index-submission-notfound" class="text-lg font-bold text-accent">{t('submission-notfound')}</span>
                        <span id="ui-dashboard-index-submission-notfound-description" class="text-sm">{t('submission-notfound-description')}</span>
                    </div>
                </UserSubmissionsCard>
            </div>
        </div>

        <MatchedProjects matchedProjects={userMetaData.matchedProjects}>
            <span class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                <span id="ui-dashboard-index-projects">{t('projects')}</span>
                <RedirectButton
                    link={routes.portal.projects.index}
                    class="btn btn-sm btn-ghost text-secondary shadow-md lg:hidden">
                    <GetIcon icon={'link'} class='h-[1rem] w-[1rem]'/>
                </RedirectButton>
            </span>
        </MatchedProjects>

        <MatchedTeams matchedTeams={userMetaData.matchedTeams}>
            <span class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                <span id="ui-dashboard-index-teams">{t('teams')}</span>
                <RedirectButton
                    link={routes.portal.teams.index}
                    class="btn btn-sm btn-ghost text-secondary shadow-md lg:hidden">
                    <GetIcon icon={'link'} class='h-[1rem] w-[1rem]'/>
                </RedirectButton>
            </span>
        </MatchedTeams>

        <AdminTools isAdmin={userMetaData.isAdmin}>
            <span id="ui-dashboard-index-admin-tools" class="p-0 text-2xl font-bold text-accent text-shadow-md shadow-black">
                {t('admin-tools')}
            </span>
        </AdminTools>

    </div>

</DashboardLayout>