---
import branding from 'astro-feedback:branding';
import config from 'astro-feedback:config';
import r from 'astro-feedback:routes';
import BaseHead from '../components/BaseHead.astro';
import ThemeManager from '../components/ThemeManager.astro';
import ThemeSelect from '../components/ThemeSelect.astro';
import ViewTransitions from '../components/ViewTransitions.astro';
import '../styles/viewTransitions.css';
import ButtonShelf from '../components/ButtonShelf.astro';
import DrawerBox from './DrawerBox.astro';
import DrawerContent from './DrawerContent.astro';

const { SITE_TITLE, SITE_DESCRIPTION } = branding;
interface Props {
	image?: string;
	title?: string;
	description?: string;
	includeSidebar?: boolean;
	includeHeader?: boolean;
	sideBarActiveItemID?: string;
}

const {
	image,
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	includeSidebar = true,
	includeHeader = true,
	sideBarActiveItemID,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scrollbar-thumb-rounded-full scrollbar scrollbar-thumb-accent scrollbar-track-transparent overflow-y-scroll">
  <head>
    <BaseHead {config} {title} {description} {image} />
    <ThemeManager />
  </head>
  <body >
    <DrawerBox>
      <DrawerContent {r} {includeHeader} {includeSidebar} {sideBarActiveItemID}>
        <slot />
      </DrawerContent>
    </DrawerBox>
    <ButtonShelf>
      <ThemeSelect lightTheme='emerald' />
    </ButtonShelf>
    <ViewTransitions />
  </body>
</html>