---
import branding from 'astro-feedback:branding';
import config from 'astro-feedback:config';
import r from 'astro-feedback:routes';
import BaseHead from '../components/BaseHead.astro';
import ButtonShelf from '../components/ButtonShelf.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
import SideBar from '../components/SideBar.astro';
import ThemeManager from '../components/ThemeManager.astro';
import ThemeSelect from '../components/ThemeSelect.astro';
import UserWidget from '../components/UserWidget.astro';
import ViewTransitions from '../components/ViewTransitions.astro';

// Import global styles
import '../styles/viewTransitions.css';
import '../styles/overrides.css';
import '../styles/base.css';

const { SITE_TITLE, SITE_DESCRIPTION } = branding;
interface Props {
	image?: string;
	title?: string;
	description?: string;
	includeSidebar?: boolean;
	includeHeader?: boolean;
	sideBarActiveItemID?: string;
}

const {
	image,
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	includeSidebar = false,
	includeHeader = false,
	sideBarActiveItemID,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {config} {title} {description} {image} />
    <ThemeManager />
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
          { includeHeader &&  <Header {r} {includeSidebar}/> }
      
          <div class="md:flex md:justify-center">
          
              <main class="sm:p-6 pt-10 lg:mt-10 lg:max-w-[75vw] max-w-[100vw]">
          
                  <slot />
          
              </main>
          
          </div>
      
          <Footer />
      
      </div>
      { includeSidebar && <SideBar {r} {sideBarActiveItemID} /> }
    </div>
    <ButtonShelf>
      <UserWidget server:defer />
      <LanguageSelector />
      <ThemeSelect lightTheme='emerald' />
    </ButtonShelf>
    <ViewTransitions />
  </body>
</html>